body {
  background-color: #efefef;
  color: #555;
}
.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
}

.nav li {
  display: inline;
}

.navbar {
  margin-bottom: 10px;
}


.footer {
  border-top: 1px solid #dbdbdb;
  display: table;
  width: 100%;
}

.footer #outer {
  display: table-row;
}

.footer #inner {
  display: table-cell;
  float: right;
  padding-right: 10px;
}

.footer ul {
  list-style: none;
  text-align: right;
  margin-bottom: 0px;
}

.footer a {
  color: #333;
  text-decoration: underline;
}

.footer li {
  margin-top: 10px;
}

.email {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 2px;
}

#logo {
  display: table-cell;
  float: right;
  height: auto; /* width is set to be height of #inner so they always align */
}
